- content_for :head do
  = tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY

%h1 Edit Account

.row
  .span7
    #stripe_error.alert.alert-error{:style => "display:none"}
    = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-vertical' }) do |f|
      = f.error_notification
      = display_base_errors resource
      = f.input :first_name, :autofocus => true
      = f.input :last_name
      = f.input :email, :required => true
      = f.input :password, :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false
      = f.input :password_confirmation, :required => false
      = f.input :current_password, :hint => "we need your current password to confirm your changes", :required => true
      = f.button :submit, 'Update', :class => 'btn-primary'

  .span5
    %h3 Card
    %p
      Using card ending with #{@user.last_4_digits}
      %br
      %a.btn.btn-mini{"data-toggle" => "modal", :href => "#card-data", :type => "button"} Change card
    %h3 Cancel my account
    %p
      Unhappy?
      %br
      #{link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-mini'}


#card-data.modal{:style => "display: none;"}
  = simple_form_for resource, :as => resource_name, :url => update_card_path, :html => {:method => :put, :class => 'form-horizontal card_form' } do |f|
    .modal-header
      %a.close{"data-dismiss" => "modal"} ×
      %h3 Change Credit Card
    .modal-body
      .field
        = label_tag :card_number, "Credit Card Number"
        = text_field_tag :card_number, nil, name: nil
      .field
        = label_tag :card_code, "Card Security Code (CVV)"
        = text_field_tag :card_code, nil, name: nil
      .field
        = label_tag :card_month, "Card Expiration"
        = select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"}
        = select_year nil, {start_year: Date.today.year, end_year: Date.today.year+10}, {name: nil, id: "card_year"}
      = f.hidden_field :first_name
      = f.hidden_field :last_name
      = f.hidden_field :email
      = f.hidden_field :stripe_token
    .modal-footer
      = f.submit "Change Credit Card", :class => "btn btn-primary"
      %a.btn{"data-dismiss" => "modal", :href => "#"} Close
