%h1 Listing recipes

.row
  .span3
    = link_to 'New Recipe', new_recipe_path, class: "btn btn-info"
  .span9
    = form_tag recipe_charge_path, method: "post" do
      = submit_tag "Charge This Month's Recipe", class: "btn btn-danger pull-right"

%br
%br

%table.table
  %tr
    %th Name
    %th Date
    %th

  - @recipes.each do |recipe|
    %tr{class: recipe_class(recipe)}
      %td= recipe.name
      %td= recipe.human_date
      %td
        .nav
          = link_to 'Show', recipe
          = link_to 'Edit', edit_recipe_path(recipe)
          = link_to 'Destroy', recipe, :method => :delete, :data => { :confirm => 'Are you sure?' }

