%h1 Listing recipes

= link_to 'New Recipe', new_recipe_path

%br
%br

%table.table
  %tr
    %th Name
    %th Date
    %th

  - @recipes.each do |recipe|
    %tr{class: recipe_class(recipe)}
      %td= recipe.name
      %td= recipe.human_date
      %td
        .nav
          = link_to 'Show', recipe
          = link_to 'Edit', edit_recipe_path(recipe)
          = link_to 'Destroy', recipe, :method => :delete, :data => { :confirm => 'Are you sure?' }

