- content_for :title, "Order"
- content_for :head do
  = tag :meta, :name => "stripe-key", content: ENV["STRIPE_PUBLIC_KEY"]

.content.container
  .row
    .span6
      %h3 Order Progress
      .progress
        .bar{ style: "width: #{@order.progress}%" }
      #stripe_error.alert.alert-error{:style => "display:none"}
      = simple_form_for(@order, :url => user_order_path, :html => {:class => 'card_form form-vertical' }) do |f|
        = display_base_errors @order

        %h3 Credit Card Information
        .row-fluid
          .span10
            = label_tag :card_number, "Credit Card Number"
            = text_field_tag :card_number, nil, name: nil, class: "input-block-level"
          .span2
            = label_tag :card_code, "CVV"
            = text_field_tag :card_code, nil, name: nil, class: "input-block-level"
        .row-fluid
          .span12
            = label_tag :card_month, "Card Expiration"
            .row-fluid
              .span6
                = select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month", class: "input-block-level"}
              .span6
                = select_year nil, {start_year: Date.today.year, end_year: Date.today.year+10}, {name: nil, id: "card_year", class: "input-block-level"}

        %br

        = f.hidden_field :stripe_token
        .row-fluid
          .span3
            = f.submit "Back", name: :back_button, :class => "btn btn-danger btn-large btn-block"
          .span9
            = f.button :submit, 'Sign Up', :class => "btn btn-info btn-large btn-block"

    .span6.text-right
      .row-fluid
        .span9.offset3
          %h2 Price
          %p
            %span.dollar-desc 5 Gallon Malt Extract Beer Kit:
            %span $35
          %p
            %span.dollar-desc Shipping:
            %span $15
          %hr
          %p.lead
            Total per month: $50
          %hr

      .row-fluid
        .span9.offset3
          %h3
            %i.fa.fa-lock
            Your information is secure!
          %p We won't give your credit card or personal information to anyone for any reason.  You can trust that all of your information is secure.
          %hr

      .row-fluid
        .span9.offset3
          %h3 Questions?
          %p
            Feel free to contact us with any questions you may have.  Simply click
            = link_to "here", contact_path
            to visit our contact page.
