.row
  .span4.offset4
    %h2 Sign In
    = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-vertical' }) do |f|
      = f.input :email, :autofocus => true, input_html: {class: "input-block-level"}
      = f.input :password, input_html: {class: "input-block-level"}
      = f.input :remember_me, inline_label: "Remember Me", label: false, as: :boolean if devise_mapping.rememberable?
      = f.button :submit, "Sign in", :class => 'btn btn-block btn-large btn-primary'
    = render "devise/shared/links"
