%h1 Contact Us
%p.lead Send us an email at:
%p support@homebrewster.com
%p.lead Or fill out the form.  We will get back to you as soon as possible!
= form_tag do
  = label_tag :email, "What is your email?"
  = text_field_tag :email, "", class: "span5"
  = label_tag :mood, "How are you feeling?"
  = select_tag(:mood, options_for_select(moods))
  = label_tag :message, "What would you like to tell us?"
  = text_area_tag :message, "", size: "80x10", class: "span9"
  %br
  = submit_tag :Send, class: "btn btn-info"
