%h1 This Month's Recipe
%h4.muted= @recipe.human_date
.well.well-large.monthly-recipe
  .row-fluid
    .span7
      %p.lead= @recipe.name
      %p.desc= @recipe.description
      %ul
        %li= link_to "Instructions"
        %li= link_to "Comments (104)", "#comments", class: "scroll"
    .span5.text-center
      = image_tag "gingerbread.jpg", class: "recipe-image"

#comments
  %h3 Comments (104)

  %hr



  %p.lead
    Todd Goodman -
    %span.muted Nov. 13
  %p Great recipe!
  %hr

  %p.lead
    Todd Goodman -
    %span.muted Nov. 13
  %p Definitely would recommend this recipe to a friend!
  %hr

  %p.lead
    Todd Goodman -
    %span.muted Nov. 13
  %p Decent recipe, but I am not a huge fan on gingerbread!
  %hr

  %p.lead
    Todd Goodman -
    %span.muted Nov. 13
  %p Great recipe!
  %hr

  %p.lead
    Todd Goodman -
    %span.muted Nov. 13
  %p Definitely would recommend this recipe to a friend!
  %hr

  %p.lead
    Todd Goodman -
    %span.muted Nov. 13
  %p Decent recipe, but I am not a huge fan on gingerbread!
