!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Beerocity"
      %meta{:content => content_for?(:description) ? yield(:description) : "Beerocity", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)
  %body{:class => "#{controller_name} #{action_name}" + (current_page?(root_path) == true ? "" : "body_space")}
    - if current_page? root_path
      = render "layouts/mega_header"
    - else
      .navbar.navbar-static-top
        %nav.navbar-inner
          .container
            = render 'layouts/navigation'
    #main{:role => "main"}
      .container
        .content
          .row
            .span12
              = render 'layouts/messages'
              = yield
          %footer
      / ! end of .container
    / ! end of #main
